#social-buttons
	 button {
	 	color: white;
	 }
	.btn-twitter {
		background-color: #00acee;
		border-color: #009adf;
	}
	.btn-facebook {
		background-color: #4868ac;
		border-color: #314776;
	}
	.btn-pinterest {
		background-color: #b62f26;
		border-color: #b62f26;
	}
	.jumbotron {
		min-height: 60px;
		background-size: cover;
		background-attachment: fixed;
	}